{% load staticfiles %}

<html>
	<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <head>
        <title>WeFacts</title>
    </head>
    <body>

    <section id="fh5co-home" data-section="home" style="background-image: url({% static 'images/full_image_2.jpg' %});" data-stellar-background-ratio="0.5">
		<div class="gradient"></div>
			<div class="text-wrap">
				<div class="text-inner">

            <h1>Weather Facts</h1>
            <h2>Makes it easy and free to obtain historical weather data.</h2>
            <p1>Historical weather data is globally covered, see <a href="https://shawxiaozhang.github.io/wefacts/" target="_blank">details</a>. </p1>

            <h1>Weather Search</h1>
            <form action = "/get_order/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.weather_address.label }}    {{ form.weather_address }}
                {{ form.weather_start_date.label }}    {{ form.weather_start_date }}
                {{ form.weather_end_date.label }}    {{ form.weather_end_date }}
                {{ form.address_file.label}}    {{ form.address_file}}
                <p></p>
                <input type="submit" value="Search" name="search"/>
                <p><br></p>
                <p1> Multiple addresses are separated by semicolon, e.g. "5000 Forbes Ave Pittsburgh; 94043; Beijing". Or try buttons below.</p1>
                <p></p>
                <input type="submit" value="Select address list" name="upload_address_list"/>
                <input type="submit" value="Upload" name="upload"/>
                <p></p>

            </form>

            <h1>Questions and Discussions</h1>
            <p1>Questions, comments, contributions are welcomed, see <a href="https://groups.google.com/forum/#!forum/wefacts-users" target="_blank">Google Group</a>.
            </p1>


				</div>
		</div>
        </section>
    </body>
</html>